body {
  margin: 0;
  text-align: center;
  background-color: #011F3F;
}

#main-container {
  /* height: 100vh; */
  /* box-sizing: border-box; */
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 60px;
  /* Check spacing again */
  color: #FEF2BF;
}

.btn-container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid #020202;
  border-radius: 20%;
  cursor: pointer;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #F5364E;
}

.green {
  background-color: #5ADA8D;
}

.blue {
  background-color: #3BDAFC;
}

.yellow {
  background-color: #E9EE74;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}